<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/fixed.css" %}" type="text/css">

    <link rel="stylesheet" href="{% static "css/event_d.css" %}">
    <!-- <link rel="stylesheet" href="{% static "css/fixed.css" %}" type="text/css"> -->

</head>
<body data-spy="scroll" data-target="#navbarResponsive">
<!-- home start -->
    <div id="home">

		<!-- navigation -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="/"><img src="{% static "images\cards\White_T.png" %}"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#future">UPCOMING EVENTS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#present">TODAY'S EVENTS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#past">PAST EVENTS</a>
					</li>
				</ul>
			</div>
		</nav>

		</div>
	<!-- home end  -->

    <h1>   </h1>
    <h1>   </h1>
    <h1>   </h1>
    <h1>EVENTS</h1>
    <div class="timeline">
        <ul>
            <!-- <div id="present1" class="offset"> -->
                {% if present %}
                    {% for evn in present %}
                    {% if evn.is_present %}
                    <li>
                    <div class="content">
                        <h2>UPCOMING EVENT!!!!</h2>
                        <h2 id="present">{{evn.event_name}}</h2>
                        <p>{{evn.event_desc}}</p>
                        <h4>Time :- {{evn.event_date.time}}</h4>
                        <a href="{{evn.reg_link}}" class="btn">Link to register</a>
    
                    </div>
                    <div class="time">
                        <h4>{{evn.event_date.date}}</h4>
                    </div>
                    <div class="image">
                        <img src="{{evn.event_poster.url}}" alt="">
                    </div>
    
    
                    <div class="clock">
                        <!-- <h2>{{evn.hour}}{{evn.minute}}</h2> -->
                        <div id="time">
                            <div><span id="{{evn.event_id}} + {{evn.hour}}">00</span><span>Hours</span></div>
                            <div><span id="{{evn.event_id}} + {{evn.minute}}">00</span><span>Minutes</span></div>
                            <div><span id="{{evn.event_id}}">00</span><span>Seconds</span></div>
                            
                        </div>
                        
                    </div>
                    <script type="text/javascript">
                        function clock(){
                            var hours=document.getElementById("{{evn.event_id}} + {{evn.hour}}");
                            var minutes=document.getElementById("{{evn.event_id}} + {{evn.minute}}");
                            var seconds=document.getElementById("{{evn.event_id}}");
                            
                    
                            var h =new Date().getHours();
                            var m =new Date().getMinutes();
                            var s =new Date().getSeconds();
        
                            var h2=parseInt("{{evn.hour}}",10);
                            var m2=parseInt("{{evn.minute}}",10);
        
                            var h3=h2-h;
                            var m3=m2-m;
                            var s3=59-s;
                    
                            m3=m3-1;
                            if(m3<0){
                                h3=h3-1;
                                m3=59+m2-m;
                            }    
    
                            hours.innerHTML=h3;
                            minutes.innerHTML=m3;
                            seconds.innerHTML=s3;
    
                        }
                    
                        var interval=setInterval(clock,1000);
                        </script>
                    
                    </li>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    <!-- <p>Data not Found</p> -->
                {% endif %}
    
                
            <!-- </div> -->



             <!-- <h1>FUTURE</h1> -->
        <!-- <h2 id="future"></h2> -->
            <!-- <a name="future"></a> -->
        <!-- <div id="future" class="offset"> -->
            <!-- <div id="future"></div> -->
            {% if future %}
                {% for evn in future %}
                {% if evn.is_future %}
                <li>
                <div class="content">
                    <h2>UPCOMING EVENT!!!!</h2>
                    <h2 id="future">{{evn.event_name}}</h2>
                    <p>{{evn.event_desc}}</p>
                    <h4>Time :- {{evn.event_date.time}}</h4>
                    <a href="{{evn.reg_link}}" class="btn">Link to register</a>

                </div>
                <div class="time">
                    <h4>{{evn.event_date.date}}</h4>
                </div>
                
                <div class="image">
                    <img src="{{evn.event_poster.url}}" alt="">
                </div>
                </li>
                {% endif %}
                {% endfor %}
            {% else %}
                <!-- <p>Data not Found</p> -->
            {% endif %}
        <!-- </div> -->

    <!-- <h1>PAST</h1> -->
            <!-- <div id="past" class="offset"> -->
                
            {% if past %}
                {% for evn in past %}
                {% if evn.is_past %}
                <li>
                <div class="content">
                    <h2>PAST EVENTS!!!!</h2>
                    <h2 id="past">{{evn.event_name}}</h2>
                    <p>{{evn.event_desc}}</p>
                    <h4>Time :- {{evn.event_date.time}}</h4>
                    <h4>Time :- {{evn.event_date.date}}</h4>
                    <a href="{{evn.reg_link}}" class="btn">Link to register</a>

                </div>
                <div class="time">
                    <h4>{{evn.event_date.date}}</h4>
                </div>
                <div class="image">
                    <img src="{{evn.event_poster.url}}" alt="">
                </div>

                </li>
                {% endif %}
                {% endfor %}
            {% else %}
                <!-- <p>Data not Found</p> -->
            {% endif %}
        <!-- </div> -->
        
        
    <!-- <h1>PRESENT</h1> -->
        <!-- <h2 id="present"></h2> -->
        
       
            <div style="clear: both;"></div>
        </ul>
    </div>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "bootstrap-4.1.3-dist/js/bootstrap.min.js" %}"></script>
    
</body>
</html>