body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
}
.timeline .past{
    position: relative;
}
.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul{
    margin: 0;
    padding: 0;
}

.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233, 33, 99, 1);
}
.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4{
    margin: 0;
    
    padding: 0;
}

.timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px;

}

.timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px;
}

h1{
    text-align: center;
    font-size: 60px;
}

@media(max-width: 1000px){
    .timeline{
        width: 100%;
    }
}

@media(max-width: 767px){

    h1{
        text-align: center;
        font-size: 40px;
        padding: 0 20px;
    }

    .timeline{
        width: 100%;
        padding-bottom: 0;
    }
    .timeline::before
    {
        left: 20px;
    }
    .timeline li:nth-child(odd),
    .timeline li:nth-child(even){
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .timeline li:nth-child(odd)::before,
    .timeline li:nth-child(even)::before{
        top: -18px;
        left: 16px;
    }

    .timeline li:nth-child(odd) .time,
    .timeline li:nth-child(even) .time
    {
        top: 30px;
        left: 50px;
        right: inherit;
    }
 
}

.clock #time{
    display: flex;
}
.clock #time div{
    position: relative;
    margin: 0 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#000);
}
.clock #time div span{
    position: relative;
    display: block;
    width: 100px;
    height: 80px;
    background: #2196f3;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.clock #time div span:nth-child(2){
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    background: #127fd6;
    text-transform: uppercase;
}

.clock #time div:last-child span{
    background: #ff006a;
}
.clock #time div:last-child span:nth-child(2){
    background: #ec0062;
}